body {
   background: #2d323c;
}

.playlistbox {
   display: block;
   margin: 0 auto;
}

main {
   display: grid;
   margin: 0 12vw 0 15vw;
   grid-template-columns: 1fr 2fr;
}

.pics {
   display: grid;
   align-self: start;
   justify-items: center;
   align-items: bottom;
   grid-row-gap: 10px;
   grid-template-columns: 1fr 1fr;
}

.content {
   color: white;
   border-left: solid white;
   padding-left: 20px;
   line-height: 1.15;
   font-size: 15px;
   font-family: monospace;
}

.name {
   color: white;
   font-family: monospace;
   font-size: 15px;
   align-self: start;
}

.members {
   grid-row: 1/2;
   color: white;
   font-family: monospace;
   font-size: 30px;
}

.dot {
   color: #2d323c;
}
