body {
   background-color: rgb(175, 0, 0);
   background-image: url('https://www.rockhall.com/sites/default/files/styles/header_image_portrait/public/publicenemy_001.jpg?itok=OtnmC1sQ');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: 0 0;
   background-size: cover;
}

header {
   font: 140px / 1.2 'Stardos Stencil', serif;
   color: rgb(175, 0, 0);
   text-align: center;
}

h2 {
   font: 50px / 1 'Stardos Stencil', serif;
   color: rgb(175, 0, 0);
   text-align: center;
}

.songs-text {
   display: flex;
   justify-content: space-between;
   padding: 40px;
}

.songs-left {
   font: 16px / 1.2 Courier, serif;
   background-color: rgba(255, 255, 255, .7);
   padding: 20px;
   /* transform: rotate(-90deg); */
}

.songs-right {
   font: 16px / 1.2 Courier, serif;
   background-color: rgba(255, 255, 255, .7);
   padding: 20px;
   /* transform: rotate(-90deg); */
}

   text-align: center;
}
